/* ==============================Cambios en el Login de estilo para igualar al que esta en salesforce============================================ */
/* version 1 */


/* tamaño del logo listo aplicando una regla directo */
/* header>div>img {
    width: 40%;
} */

/* modifica el orden de Iniciar sesion y registrate aca */

.grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(110px, 1fr));
}

.grid .grid__left {
    order: 1;
}


/* modificar la posicion del div Mantener la Sesion activa */
.rememberMe {
    text-align: left;
    padding-left: 31px;
}



/* CONSULTAR */
/* cambiar el enlace de posicion de Olvido Contraseña solo para desktop*/
/* #forgotPassword {
    position: absolute;
    bottom: 0;
    color: #5E5E5E;
    text-decoration: none;
    bottom: 160px;
    margin-left: -70%;
    z-index: 99999;
    right: 37%;
} */




/* agrega barra lateral Avisos de Privicidad, Terminos y Conidciones, Uso de Cookies y Ayuda */

a.text-color--main.text-uppercase.text-sm::after {
    content: '|';
}

a.text-color--main.text-uppercase.text-sm:last-child::after {
    content: none !important;
}

/* cambiar estilos del boton REGISTRATE AQUI */

button.custom--main-color.text-color--white.weight-bold {
    background: none !important;
    color: #FA2525;
    font-size: 16px !important;
    font-weight: bold;
    padding: 0;
}


/* ==============================Media Querys============================================ */

/* @media (max-width: 640px)  {
    .grid__left{
        order: 2 !important;
    }
    
    #forgotPassword {
        bottom: 50px;
} */

@media (max-width: 514px) {
    #forgotPassword {
        bottom: 66px;
    }
}

/* version 1 */